Dataset Info.

train.csv [파일]
ID : 샘플 고유 ID
User-ID : 유저 고유 ID
Book-ID : 도서 고유 ID
유저 정보
Age : 나이
Location : 지역
도서 정보
Book-Title : 도서 명
Book-Author : 도서 저자
Year-Of-Publication : 도서 출판 년도 (-1일 경우 결측 혹은 알 수 없음)
Publisher : 출판사
Book-Rating : 유저가 도서에 부여한 평점 (0점 ~ 10점)
단, 0점인 경우에는 유저가 해당 도서에 관심이 없고 관련이 없는 경우


test.csv [파일]
ID : 샘플 고유 ID
User-ID : 유저 고유 ID
Book-ID : 도서 고유 ID
유저 정보
Age : 나이
Location : 지역
도서 정보
Book-Title : 도서 명
Book-Author : 도서 저자
Year-Of-Publication : 도서 출판 년도 (-1일 경우 결측 혹은 알 수 없음)
Publisher : 출판사

In [2]:
import pandas as pd

In [3]:
train_df= pd.read_csv("train.csv")
train_df.head()

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,TRAIN_000000,USER_00000,BOOK_044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,TRAIN_000001,USER_00000,BOOK_081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,TRAIN_000002,USER_00000,BOOK_086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,TRAIN_000003,USER_00000,BOOK_098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,TRAIN_000004,USER_00000,BOOK_180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

In [13]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871393 entries, 0 to 871392
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   871393 non-null  object
 1   User-ID              871393 non-null  object
 2   Book-ID              871393 non-null  object
 3   Book-Rating          871393 non-null  int64
 4   Age                  871393 non-null  float64
 5   Location             871393 non-null  object
 6   Book-Title           871393 non-null  object
 7   Book-Author          871393 non-null  object
 8   Year-Of-Publication  871393 non-null  float64
 9   Publisher            871393 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 66.5+ MB

In [4]:
#중복확인 #결측값 없음.
train_df.isnull().sum()

ID                     0
User-ID                0
Book-ID                0
Book-Rating            0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [5]:
# 
train_df.nunique(dropna = False)

ID                     871393
User-ID                 83256
Book-ID                243441
Book-Rating                11
Age                       137
Location                20971
Book-Title             217829
Book-Author             92635
Year-Of-Publication       110
Publisher               15505
dtype: int64

In [7]:
print(f'Book-Rating의 최대값은 : ', train_df['Book-Rating'].max())
print(f'Book-Rating의 최소값은 : ', train_df['Book-Rating'].min())

Book-Rating의 최대값은 :  10
Book-Rating의 최소값은 :  0

In [12]:
train_df[train_df['Year-Of-Publication']== -1.0]

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
184,TRAIN_000184,USER_00049,BOOK_121460,0,37.0,"gaylord, michigan, usa",Bxc Blue Bay Mystery,Gertrude Cha Warner,-1.0,Scholastic Inc
186,TRAIN_000186,USER_00049,BOOK_175661,10,37.0,"gaylord, michigan, usa",Lighthouse Mystery,Gertrude C Warner,-1.0,Scholastic Inc
191,TRAIN_000191,USER_00049,BOOK_230275,0,37.0,"gaylord, michigan, usa",Mike's Mystery,Gertrude Cha Warner,-1.0,Scholastic Inc
231,TRAIN_000231,USER_00054,BOOK_122689,0,39.0,"spring, texas, usa",Charming Billy,Alice Mcdermott,-1.0,"Farrar, Straus Giroux"
290,TRAIN_000290,USER_00060,BOOK_165427,0,27.0,"los angeles, california, usa",Moon Palace,Paul Auster,-1.0,Faber Faber Inc
...,...,...,...,...,...,...,...,...,...,...
870700,TRAIN_870700,USER_92056,BOOK_093874,5,35.0,"leucadia, california, usa",High Ground,John Mcgahern,-1.0,Faber Faber Inc
870751,TRAIN_870751,USER_92058,BOOK_117063,0,24.0,"halifax, nova scotia, canada",Hotel Du Lac,Anita Brookner,-1.0,Penguin Putnam~trade
870776,TRAIN_870776,USER_92058,BOOK_181486,8,24.0,"halifax, nova scotia, canada",Laurels Kitchen a Handbook for Vegetarian Co,Laurel Robertson,-1.0,Bantam Doubleday Dell
870895,TRAIN_870895,USER_92080,BOOK_045027,10,35.0,"brookhaven, mississippi, usa",Best of Sisters In Crime,Marilyn Wallace,-1.0,Penguin Putnam~childrens Hc
871300,TRAIN_871300,USER_92093,BOOK_216824,0,37.0,"lakewood, colorado, usa",Girlfriends,Jayne Wexler,-1.0,Running Press